.banner {
  h1 {
    color: $laranja-1;
    margin-top: 1.75rem;
  }
  .subtitle {
    color: $cinza;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
  }
  .go-content {
    position: absolute;
    left: 50%;
    right: 50%;
    color: $laranja-1 !important;
    animation: pointing-down infinite 1s linear;
    @include transform(rotate(90deg));
    @include transition(all 0.3s ease-in-out);
  }

  // Tablet e superior
  @media (min-width: 768px) {
    .avatar {
      width: 100%;
    }
  }

  // Inferior a tablet
  @media (max-width: 767.98px) {
    text-align: center;
    h1 {
      font-size: 4rem;
    }
  }
}

@keyframes pointing-down {
  from {
    bottom: 50px;
    opacity: 0.5;
  }
  to {
    bottom: 40px;
    opacity: 1;
  }
}
