.ant-layout-footer {
  background: radial-gradient(90% 90% at 50% 100%, #060606 0%, #1c2026 100%);
  text-align: center;
  padding: 0;
  .content {
    position: relative;
    margin-bottom: 10vh;
  }
  .contact {
    color: $branco;
    text-transform: uppercase;
    p {
      margin: 0;
    }
    a {
      display: block;
      font-size: 1.25rem;
      color: $laranja-1;
      font-weight: bold;
      margin-bottom: 2.5rem;
    }
  }
  .subfooter {
    margin: 0;
    color: $branco;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 2rem 0;
  }

  // Tablet e superior
  @media (min-width: 768px) {
    .App-logo {
      height: 31.25rem;
      pointer-events: none;
    }
    .contact {
      right: 100px;
      text-align: left;
      position: absolute;
    }
  }

  // Inferior a tablet
  @media (max-width: 767.98px) {
    .App-logo {
      height: 70vw;
    }
    .contact {
      text-align: center;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: blink infinite 2s linear;
  }
}

@keyframes blink {
  from {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}
