.graduation {
  background-image: url("../images/bg-graduation.svg");
  background-repeat: no-repeat;
  background-position: center 70%;

  h2 {
    margin-bottom: 4rem;
  }
  img {
    max-width: 12.5rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  h3,
  p {
    margin-bottom: 0.5rem;
    color: $branco;
  }

  // Tablet e superior
  @media (min-width: 768px) {
    background-size: 110%;
  }
  // Inferior a tablet
  @media (max-width: 767.98px) {
    background-size: 400%;
  }
}
