.ant-layout-header {
  color: $cinza;
  background: transparent;
  height: auto;
  line-height: normal;
  position: fixed;
  z-index: 1000;
  .navbar {
    padding: 0;
    .nav-link {
      color: $cinza;
      padding-right: 1rem;
      padding-left: 1rem;
      &:hover {
        color: $laranja-1;
      }
    }
  }
  .logo {
    font-family: "Permanent Marker", cursive;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: $cinza;
    &:hover {
      color: $laranja-1;
    }
  }

  // Tablet e superior
  @media (min-width: 768px) {
    padding: 1rem 2.5rem;
    width: 100%;
  }

  // Inferior a tablet
  @media (max-width: 767.98px) {
    padding: 1rem;
    width: inherit;
    background-color: $preto;
    .navbar {
      -ms-flex-pack: normal;
      justify-content: normal;
      .nav-link {
        text-align: center;
        background-color: $preto;
        font-size: 2rem;
        padding: 6.8vh 0;
      }
    }
    .logo {
      margin-right: auto;
    }
    .navbar-toggler {
      order: 1;
      border: none;
      border-radius: 0;
    }
    .navbar-collapse {
      order: 2;
    }
  }
}
