.information {
  background-image: url("../images/bg-grade.svg");
  .anticon {
    font-size: 5rem;
    margin-bottom: 0.75rem;
  }
  h3 {
    margin: 0;
    color: $branco;
  }

  // Inferior a tablet
  @media (max-width: 767.98px) {
    .anticon {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}
