// BOX-SHADOW CSS
@mixin box-shadow($shadow...) {
  $result: ();

  @if (length($shadow) == 1) {
    // Podemos passar `@include box-shadow(none);`
    $result: $shadow;
  } @else {
    // Filtre para evitar propriedades inválidas, por exemplo `box-shadow: none, 1px 1px black;`
    @for $i from 1 through length($shadow) {
      @if nth($shadow, $i) != "none" {
        $result: append($result, nth($shadow, $i), "comma");
      }
    }
  }
  @if (length($result) > 0) {
    -webkit-box-shadow: $result;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    $result;  /* Firefox 3.5 - 3.6 */
    box-shadow:         $result;
  }

  /* EXEMPLO DE USO: @include box-shadow(0 3px 6px 0 rgba($black,.16)); */
}


// TRANSITION CSS
@mixin transition($transition...) {
  $result: ();

  @if (length($transition) == 1) {
    // Podemos passar `@include transition(none);`
    $result: $transition;
  } @else {
    // Filtre para evitar propriedades inválidas, por exemplo `transition: none, 1px 1px black;`
    @for $i from 1 through length($transition) {
      @if nth($transition, $i) != "none" {
        $result: append($result, nth($transition, $i), "comma");
      }
    }
  }
  @if (length($result) > 0) {
    -webkit-transition: $result; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-transition: $result; /* Firefox 3.5 - 3.6 */
    -o-transition: $result; /* Internet Explorer */
    transition: $result;
  }

  /* EXEMPLO DE USO: @include transition(all 0.6s ease-in-out); */
}

// TRANSFORM CSS
@mixin transform($transforms) {
  -webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
  
  /* EXEMPLO DE USO: @include transform(translate(12px, 50%)); */
}

// TRANSFORM ORIGIN CSS
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;

  /* EXEMPLO DE USO: @include transform-origin(center center); */
}